@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.alto');
    font-family: theme('fontFamily.montserrat');
  }
  h1 {
    font-size: 32px;
    font-weight: 700;
  }
  h2 {
    font-size: 32px;
    font-weight: 700;
  }
  p {
    margin: 16px auto;
  }
}
